-- DROP
{%- if currentState and not desiredState %}
    {% set node = currentState.node %}
    {{ stage('DROP ADV TABLE') }}
    DROP TABLE {{ ref_no_link(node.location.name, node.name) }}
{% endif %}

-- CREATE
{%- if desiredState and not currentState %}
    {% set node = desiredState.node %}
    {% set columns = desiredState.columns %}
a
    {{ stage('CREATE ADV TABLE') }}

    CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            "{{ col.name }}" {{ col.dataType }}
            {%- if not col.nullable %} NOT NULL
                {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
            {% endif %}
            {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    )
    {%- if node.description | length > 0 %}
        COMMENT = '{{ node.description | escape }}'
    {% endif %}
{% endif %}

-- ALTER
{%- if desiredState and currentState %}
    {% set currentNode = currentState.node %}
    {% set desiredNode = desiredState.node %}
    {% set currentColumns = currentState.columns %}
    {% set desiredColumns = desiredState.columns %}

    {{ stage('ALTER ADV TABLE') }}
{% endif %}